<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Welcome Django</title>
    {% load static %}
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'neon/neonstyle.css' %}">
</head>
<body>

    <x-sign>
        PYTHON
    </x-sign>
    <x-sign>
        Model View Template
    </x-sign>
    <x-sign>
        RAPID<br>development
    </x-sign>
    <x-sign>
        TEMPLATES<br>&amp; STATIC
    </x-sign>
    <x-sign>
        <small>FRAMEWORK</small><br>DJANGO
    </x-sign>
    <x-sign>
        JavaScript
        <br><small>CSS&mdash;HTML</small>
    </x-sign>
    <x-sign>
        BATTERIES INCLUDED
    </x-sign>
    <x-sign>
        POWERED BY PYCHARM
    </x-sign>
    <x-sign>
        Web Server Gateway Interface
    </x-sign>


 <script src="{% static 'neon/neonscript.js' %}" type="text/javascript"></script>
</body>
</html>

